*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fcb0b3ff;
    align-items: center;
    text-align: center;
}
/*#boxContainer{
    width: 200vw;
    height: inherit;
    justify-content: flex-start ;
}*/
.container{
    height: 70vh;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    margin-left: 0px;
    justify-content: center;
    gap: 10px;
    padding-left: 40px;
}
/* not working will see this later */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }   
}
.box{
    height: 18vmin;
    width: 10vmin;
    margin-left: 0px;
    display: inline-block;
    vertical-align: bottom;
    background-color: #fcecc9ff;
    border-radius: .5cm;
    border: none;
    font-size: 4vmin;
    color:  #445e93ff;
    transition: height 2s ease-in-out, background-color 0.8s ease;
    animation: fadin 2s;
}
#reset{
    background-color:#445e93ff ;
    color: white;
    border: none;
    height: 6vmin;
    width: 20vmin;
    font-size: 4vmin;
    border-radius: .5cm;
}
#sidebar{
    display: flex;
    right: 0;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 40vw;
}
#bubbleSort{
    background-color:#445e93ff ;
    color: white;
    border: none;
    height: 6vmin;
    width: 20vmin;
    font-size: 4vmin;
    border-radius: .5cm;
    margin-top: 50px;
    margin-left: 50px;
}
.ending{
    color:rgb(62, 60, 37);
}